body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 30px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  text-align: center;
}

img {
  height: 500px;
}

hr {
  height: 2px;
  border-width: 0;
  color: rgb(3, 35, 41);
  background-color: rgb(3, 35, 41);
}

h1 {
  color: rgb(1, 22, 32);
  font-family: "Times New Roman", Times, serif;
  font-weight: 800;
  font-size: 70px;
}
.carousel {
  margin-top: 20px;
  margin-left: 300px;
  align-content: center;
}
.carousel .carousel-item {
  height: 600px;
}
